#controls {
	background-image: linear-gradient(white, #e5e5e5);
}

#random {
	margin-top: 15px;
}

#resultsBox {
	font-size: 1.5em;
}

.entry {
	background-color: white;
	border: 2px solid black;
	margin: 35px auto;
	padding: 20px 0px;
}

body {
	background-color: #e5e5e5;
}

main {
	text-align: center;
}

h1 {
	font-family: 'Libre Baskerville', serif;
}

input {
	font-size: 1.25em;
}
